@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

#root {
    height: 100vh;
}

.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}



.credits {
    position: absolute;
    bottom: 0;
    right: 0.25%;
    font-family: "Tiny5";
    color: white;
    text-decoration: none !important;
    font-size: 1vw;
}

    .credits a {
        color: #b9c0b7;
    }

        .credits a:hover {
            color: #677563;
        }


/* phone queries*/
@media (orientation: portrait) and (max-width: 1024px) {
    .credits {
        font-size: 1rem;
    }

    .play-pause-button {
        height: 6vh;
        top: 70%;
    }
}