/* table */
.table-container {
    position: relative;
    top: 30vh;
    width: 100%;
    text-align: center;
    margin: 0;
}

.table {
    position: relative;
    width: 45vw;
    height: 40vh;
    z-index: -20;
    transform: translateX(-50%);
    left: 22.5%;
}


/* general positioning for table items */
.laptop, .typing, .cat, .cat-head-clickable, .coffee, .steam {
    position: absolute;
    transform: translate(-50%, -50%);
}


/* laptop */
.laptop {
    top: -3.4%;
    left: 50%;
    width: 8vw;
    height: 12vh;
    z-index: 10;
}

.typing {
    top: -8%;
    left: 50%;
    width: 2%;
    height: 4.5vh;
    z-index: 999;
}


/* cat + clickable window */
.cat {
    top: -10%;
    left: 36%;
    width: 12.5vw;
    height: 25vh;
    z-index: 200;
}

    .cat.open {
        top: -43.5%;
        left: 42.5%;
        width: 11vw;
        height: 22vh;
        z-index: 200;
    }

.cat-head-clickable {
    top: -0.4%;
    left: 33.7%;
    width: 3.5vw;
    height: 4.8vh;
    cursor: pointer;
    z-Index: 9999;
}

    .cat-head-clickable.open {
        top: -35%;
        left: 40.6%;
        width: 2.7vw;
        height: 4vh;
        cursor: pointer;
        z-Index: 9999;
    }


/* coffee cup + steam*/
.coffee {
    top: 3%;
    left: 58%;
    width: 2.4vw;
    height: 5vh;
    z-index: 2;
}

    .coffee.open {
        top: -33%;
        left: 36.4%;
        width: 2vw;
        height: 4vh
    }

.steam {
    opacity: 0.3;
    width: 0.7vw;
    height: 1vh;
    top: -2%;
    left: 58%;
    z-index: 1;
}
    .steam.open {
        top: -37.8%;
        left: 36.4%;
    }


/* tablet queries */
@media (orientation: portrait) and (max-width: 1024px) {
    /* table */
    .table-container {
        top: 18vh;
    }

    .table {
        width: 75%;
        left: 37.5%;
        height: 25vh;
    }


    /* coffee cup + steam */
    .coffee {
        top: 2%;
        left: 65%;
        width: 6vw;
        height: 4vh
    }

        .coffee.open {
            top: -40.5%;
            left: 26%;
            width: 4vw;
            height: 3vh;
        }

    .steam {
        width: 1.8%;
        height: 1vh;
        top: -5%;
        left: 65%;
    }

        .steam.open {
            top: -46.5%;
            left: 26%;
            height: 0.8vh
        }


    /* cat + clickable window*/
    .cat {
        top: -15%;
        left: 28%;
        width: 28vw;
        height: 20vh
    }

        .cat.open {
            top: -53%;
            left: 40%;
            width: 22vw;
            height: 16vh
        }

    .cat-head-clickable {
        top: -3%;
        left: 23.5%;
        width: 7vw;
        height: 4vh;
    }

        .cat-head-clickable.open {
            top: -43%;
            left: 36.2%;
            width: 6vw;
            height: 2.7vh;
        }


    /* laptop + typing */
    .laptop {
        top: -4%;
        width: 14vw;
        height: 8vh
    }

    .typing {
        top: -8.5%;
        width: 4vw;
        height: 2.5vh
    }
}


/* phone queries */
@media (max-width:480px) {
    /* table */
    .table-container {
        top: 15vh;
    }

    .table {
        width: 80%;
        left: 40%;
        height: 22vh;
    }

    
    /* coffee cup + steam*/
    .coffee {
        top: 2%;
        left: 66%;
        width: 6vw;
        height: 3vh
    }

        .coffee.open {
            top: -29%;
            left: 29%;
            width: 4vw;
            height: 2vh;
        }

    .steam {
        width: 1.8%;
        height: 0.6vh;
        top: -4.5%;
        left: 66%;
    }

        .steam.open {
            top: -34%;
            left: 29%;
            height: 0.6vh
        }


    /* cat + clickable window */
    .cat {
        top: -12%;
        left: 26%;
        width: 25vw;
        height: 16vh
    }

        .cat.open {
            top: -40%;
            left: 41%;
            width: 21vw;
            height: 12vh
        }

    .cat-head-clickable {
        top: -1%;
        left: 21.5%;
        width: 6vw;
        height: 3vh;
    }

        .cat-head-clickable.open {
            top: -32%;
            left: 37%;
            width: 5.5vw;
            height: 2.5vh;
        }


     /* laptop + typing */
    .laptop {
        top: -4%;
        width: 18vw;
        height: 7vh
    }

    .typing {
        top: -8.5%;
        width: 4vw;
        height: 2.5vh
    }
}