
/* volume controls menu container */
.menu {
    position: absolute;
    left: -8vw;
    width: 7.5%;
    height: 50%;
    top: 20%;
    background-color: rgba(97,117,90, 0.4);
    transition: left 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 0.25vw rgb(149,166,136);
}

    .menu.open {
        left: -1%;
    }


/* toggle button container + image */
.menu-toggle-button {
    position: absolute;
    left: 9vw;
    height: 1.2vh;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.menu-toggle-image {
    height: 3vh;
}

.menu.open .menu-toggle-button img {
    transform: rotate(180deg);
}


/* container for controls itself */
.volume-control-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


/* volume wheel icons */
.icon {
    position: absolute;
    z-index: 10;
    width: 1.5vw;
    height: 3vh;
    pointer-events: none;
}


/* phone + tablet queries */
@media (orientation: portrait) {
    .menu {
        position: absolute;
        top: 80%;
        height: 30vw;
        width: 100%;
        left: 0;
        border: none;
        background: none;
        transition: top 0.4s ease-in-out;
        flex-direction: row;
    }

    .volume-control-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .menu-toggle-button {
        display: none;
    }
    
    .icon {
        width: 5vw;
        height: 2.5vh;
    }
}


/* tablet queries specifically */
@media (orientation: portrait) and (min-width: 480px) {
    .menu {
        top: 75%;
    }

    .icon {
        width: 5vw;
        height: 4vh;
    }
}