.volume-bar {
    position: relative;
    display: block;
    width: 40%;
    margin: auto;
    text-align: center;
    top: 18vh;
    z-index: 999999;
}

@media (orientation: portrait) {
    .volume-bar {
        top: 8%;
        width: 60%
    }
}