.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-left: 1%;

}

@media (orientation: portrait) {
    .slider-container {
        padding-left: 0;
    }
}